body{
    background-color: white;
    
}
#change-background{
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 5px;
    text-decoration: none;
    width: 100px;
    height: 60px;
    border: none;
}
#change-background:hover{
    background-color:aqua;
}

